[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
mistune = "*"
python-frontmatter = "*"
"jinja2" = "*"
pygments = "*"
mistune-contrib = "*"
docopt = "*"
pyyaml = "*"
lxml = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
